

.Filter_Main_Container {
   position: relative;
}

.FilterIcon {
    width: 2rem;
    height: 2rem;
    }

.Filter-icon-Container {
   position: absolute;
   right: 16%;
}



.FilterPopupBox-main-container {
 position: relative;
}

.FilterPopUpBox {
   width: 10rem;
   border: 1px solid black;
   position: absolute;
   right: 7%;
   top: 5%;
   margin-top: 2%;

}