.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53rem;
    background-image: url("https://res.cloudinary.com/e-comerce/image/upload/v1653324717/samples/1489353_ipapo0.jpg");
}

.landing {

    align-items: center;
    padding-top: 1rem;
}