.main-text-container {
  width: 30rem;
  padding: 1rem;
  border-radius: 10px;
  margin: auto;
  margin-top: 2rem;
  box-shadow: var(--inputbox-shadow);
}

.InputContainer {
  align-items: flex-start;
  gap: 1rem;
}

.input {
  background: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  color: var(--text-color);
}
::placeholder { 
  color: var(--black-color);
  opacity: 1; 
}

.note_textarea {
  resize: none;
}

.text-footer {
  padding-top: 1rem;
  justify-content: space-between;
}

.addButton {
  justify-content: space-between;
}

.icons_container {
  position: relative;
}

.colorpallete_container {
  box-shadow: var(--inputbox-shadow);
  display: flex;
  border-radius: 10px;
  background-color: antiquewhite;
  position: absolute;
  left: 49%;
  padding: 4px;
  gap: 1rem;
}

.note-color {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

.note-color-teal {
  background-color: var(--teal-color)
}

.note-color-blue {
  background-color: var(--blue-color)
}

.note-color-red {
  background-color: var(--redlight-color);
}

.note-color-brown {
  background-color: var(--brown-color);
}

.note-color-green {
  background-color: var(--secondary-color);
}

.tagCategories_container {
  display: flex;
  flex-direction: column;
  box-shadow: var(--inputbox-shadow);
  align-items: center;
  justify-content: center;
  position: absolute;

  left: 50%;
  gap: 1rem;
  padding: 5px;
  background-color: antiquewhite;
  font-size: larger;
  border-radius: 5px solid antiquewhite;
}